includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/

    level: 8

    tmpDir: ../../storage/framework/cache/phpstan/email-campaign-filament
    checkModelProperties: false
